In [3]:
from pyspark.sql import SQLContext,Row
from pyspark.sql.types import *
sqlContext=SQLContext(sc)
from pyspark.sql import HiveContext
sqlContextHive = SQLContext(sc)

from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.functions import udf, UserDefinedFunction
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

In [4]:
df=sqlContext.read.json("/home/usuario/json/datosFrame2.json")
df2=sqlContext.read.json("/home/usuario/json/datosFrame4.json")

In [5]:
df.show()

+---------------+-----------------+-----------+-------------+
|         Ciudad|          Dominio|    Empresa|         Pais|
+---------------+-----------------+-----------+-------------+
|     Shibajiazi|       paypal.com|   Edgeblab|        China|
|           Cela|          unc.edu|      Vidoo|     Portugal|
|    Vila Viçosa|         blog.com| Feednation|     Portugal|
|          Nîmes|          wsj.com|    Wikibox|       France|
|      Sibubuhan|     examiner.com|       Lajo|    Indonesia|
|       Pohbango|          ask.com|      Eamia|    Indonesia|
|        Kirovsk|      t-online.de|   Livepath|       Russia|
|        Jackson|    princeton.edu|     Skinix|United States|
|Pinayagan Norte|  kickstarter.com|    Youfeed|  Philippines|
|    Mikhaylovka|      tinyurl.com|   Fivespan|       Russia|
|      Manganitu|    microsoft.com|     Zoozzy|    Indonesia|
|           Tala|     mapquest.com|    Demivee|      Uruguay|
|         Liqiao|elegantthemes.com|      Zoovu|        China|
|        Älvsbyn|       amazon.com|Jabberstorm|       Sweden|
|    Qingfenglin|independent.co.uk|     Tekfly|        China|
+---------------+-----------------+-----------+-------------+

In [6]:
df2.show()

+------+------+------+-------+-------+-------+-------+-------+-------+
|  var1|  var2|  var3|   var4|   var5|   var6|   var7|   var8|   var9|
+------+------+------+-------+-------+-------+-------+-------+-------+
|96.144|  62.2|61.081|201.963|213.734|289.775|560.659|582.176|562.905|
|48.641| 35.15| 85.15|229.123|259.872|293.483|531.461| 545.11|588.144|
| 6.792|60.115|75.409|213.524|254.432|274.228|596.711|530.989|510.951|
|14.493| 3.624|90.182| 283.84|280.748|291.461|517.969|579.149|588.575|
|97.587|50.854|11.011|296.741|251.491|242.829|537.405|566.048|512.266|
|46.194|11.076|12.059|280.914|250.508|243.293|566.221|552.188|515.492|
|61.192|70.313|49.059|295.448|246.761|291.473|517.404|515.031|545.148|
|62.769|47.733|67.987| 262.58|246.378|291.605|568.012|579.943| 578.92|
|77.478|28.311|51.608|275.114|288.506|218.734|520.432|503.582|514.702|
|11.084|22.337|30.958|234.604|229.096|262.316|567.042|541.152| 593.45|
|32.437|74.347|83.141| 246.46|238.176|280.886|562.809|536.021|566.654|
|70.049|46.197|39.427|296.141| 266.27|212.778| 512.54|578.738|554.548|
| 7.418|93.678|66.895|269.558|223.295|205.814| 555.55|586.673|564.076|
|60.028|92.999|33.232|222.371| 264.43|231.024|594.488|543.101|587.988|
|96.244|28.423|57.575| 209.15|269.735|222.821|590.566|561.562|543.737|
|13.006|31.178|97.157|231.168| 208.87|288.647|564.843|550.545| 553.98|
|79.697| 3.118|93.698|268.708|276.909|235.784|529.031|551.463|511.975|
|90.336|23.723|27.878|244.635|226.327| 290.32|550.736|589.304|589.155|
|91.754|30.698|73.961|238.381|200.052|283.967| 550.61|540.917|505.226|
|71.541| 8.433|95.471|234.544|279.091|232.583|589.763|598.585|545.781|
+------+------+------+-------+-------+-------+-------+-------+-------+
only showing top 20 rows

seleccionar de una tabla, las columnas que se necesitan

In [7]:
tabla=df.select(df["Pais"],df["Ciudad"])
tabla.show()

+-------------+---------------+
|         Pais|         Ciudad|
+-------------+---------------+
|        China|     Shibajiazi|
|     Portugal|           Cela|
|     Portugal|    Vila Viçosa|
|       France|          Nîmes|
|    Indonesia|      Sibubuhan|
|    Indonesia|       Pohbango|
|       Russia|        Kirovsk|
|United States|        Jackson|
|  Philippines|Pinayagan Norte|
|       Russia|    Mikhaylovka|
|    Indonesia|      Manganitu|
|      Uruguay|           Tala|
|        China|         Liqiao|
|       Sweden|        Älvsbyn|
|        China|    Qingfenglin|
+-------------+---------------+

filtramos los menores que 10, de la variable 1

In [8]:
df2.filter(df2['var1'] < 10).show()

+-----+------+------+-------+-------+-------+-------+-------+-------+
| var1|  var2|  var3|   var4|   var5|   var6|   var7|   var8|   var9|
+-----+------+------+-------+-------+-------+-------+-------+-------+
|6.792|60.115|75.409|213.524|254.432|274.228|596.711|530.989|510.951|
|7.418|93.678|66.895|269.558|223.295|205.814| 555.55|586.673|564.076|
|1.644|71.164|91.305|208.528|215.127|237.195| 582.26|593.331|578.248|
|6.779| 5.148|75.337| 248.39|274.457|226.536|557.733|525.234|513.901|
|9.277|15.924|93.727|297.779|254.762|239.035|580.555|592.148|523.937|
|3.018|78.956|15.314|269.072|276.423|294.993|564.607|527.568|555.124|
|9.292|33.107|85.289|  241.7|218.311|238.817|532.526|560.292|527.395|
|7.833|55.983|40.429| 239.69|211.967|221.924|576.926|576.595|594.286|
|4.195|35.068|76.426|277.328|285.232|262.792|575.272|589.066|543.009|
|3.337|76.653|34.254|219.766|280.184|217.007|519.288| 501.64|513.935|
+-----+------+------+-------+-------+-------+-------+-------+-------+

In [9]:
df2.groupBy("var1").count()

DataFrame[var1: string, count: bigint]

In [10]:
df.printSchema()

root
 |-- Ciudad: string (nullable = true)
 |-- Dominio: string (nullable = true)
 |-- Empresa: string (nullable = true)
 |-- Pais: string (nullable = true)

In [11]:
df.first()

Row(Ciudad=u'Shibajiazi', Dominio=u'paypal.com', Empresa=u'Edgeblab', Pais=u'China')

comando describe,  me muestra datos estadisticos de la variable que seleccione

In [12]:
df2.describe(['var1']).show()

+-------+-----------------+
|summary|             var1|
+-------+-----------------+
|  count|               90|
|   mean|52.42181111111112|
| stddev|30.60399518748868|
|    min|            1.644|
|    max|           98.172|
+-------+-----------------+

In [13]:
df2.drop('var1').first()

Row(var2=u'62.2', var3=u'61.081', var4=u'201.963', var5=u'213.734', var6=u'289.775', var7=u'560.659', var8=u'582.176', var9=u'562.905')

join entre dos dataFrames

In [14]:
df2.dtypes #tipos de variables de la tabla

[('var1', 'string'),
 ('var2', 'string'),
 ('var3', 'string'),
 ('var4', 'string'),
 ('var5', 'string'),
 ('var6', 'string'),
 ('var7', 'string'),
 ('var8', 'string'),
 ('var9', 'string')]

In [15]:
df.explain()

== Physical Plan ==
Scan JSONRelation[Ciudad#0,Dominio#1,Empresa#2,Pais#3] InputPaths: file:/home/usuario/json/datosFrame2.json

In [16]:
print(df.flatMap(lambda p: p.Pais).collect())

[u'C', u'h', u'i', u'n', u'a', u'P', u'o', u'r', u't', u'u', u'g', u'a', u'l', u'P', u'o', u'r', u't', u'u', u'g', u'a', u'l', u'F', u'r', u'a', u'n', u'c', u'e', u'I', u'n', u'd', u'o', u'n', u'e', u's', u'i', u'a', u'I', u'n', u'd', u'o', u'n', u'e', u's', u'i', u'a', u'R', u'u', u's', u's', u'i', u'a', u'U', u'n', u'i', u't', u'e', u'd', u' ', u'S', u't', u'a', u't', u'e', u's', u'P', u'h', u'i', u'l', u'i', u'p', u'p', u'i', u'n', u'e', u's', u'R', u'u', u's', u's', u'i', u'a', u'I', u'n', u'd', u'o', u'n', u'e', u's', u'i', u'a', u'U', u'r', u'u', u'g', u'u', u'a', u'y', u'C', u'h', u'i', u'n', u'a', u'S', u'w', u'e', u'd', u'e', u'n', u'C', u'h', u'i', u'n', u'a']

In [17]:
def f(person):
    print(person.Ciudad)

In [18]:
print(df.Ciudad)

Column<Ciudad>

In [19]:
dato=sc.parallelize([[1024]])
#dato.map(lambda x:map(lambda y:int(y),x.split()))

# creamos Data Frame

In [20]:
#archivo separado por comas
lines=sc.textFile("/home/usuario/people1.txt")

In [21]:
parts = lines.map(lambda l: l.split(","))
people = parts.map(lambda p: Row(name=p[0], age=int(p[1])))

In [22]:
schemaPeople = sqlContext.createDataFrame(people)
schemaPeople.registerTempTable("people")

In [23]:
#seleccionando los mas jovenes de la tabla, se guarda como sql en teenagers
teenagers = sqlContext.sql("SELECT name FROM people WHERE age >= 13 AND age <= 19")

In [24]:
#mapeo sobre teenagers
teenNames = teenagers.map(lambda p: "nombre del pollito: " + p.name)
for teenName in teenNames.collect():
    print(teenName)

nombre del pollito: Justin

In [25]:
l=[('Alice',1)]
sqlContext.createDataFrame(l).collect()

[Row(_1=u'Alice', _2=1)]

In [26]:
d=[{'name':'Alice','Age':1}]
sqlContext.createDataFrame(d).collect()

/home/usuario/spark-1.6.0-bin-hadoop2.6/python/pyspark/sql/context.py:237: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

[Row(Age=1, name=u'Alice')]

In [27]:
rdd=sc.parallelize(l)
sqlContext.createDataFrame(rdd).collect()

[Row(_1=u'Alice', _2=1)]

In [28]:
df=sqlContext.createDataFrame(rdd,['name','age'])
df.collect()

[Row(name=u'Alice', age=1)]

In [29]:
Person=Row('name','age')
person=rdd.map(lambda r:Person(*r))
df2=sqlContext.createDataFrame(person)
df2.collect()

[Row(name=u'Alice', age=1)]

In [30]:
sqlContext.createDataFrame(df.toPandas()).collect()

[Row(name=u'Alice', age=1)]

In [31]:
parts = lines.map(lambda l: l.split(","))
people = parts.map(lambda p: (p[0], p[1].strip()))
schemaString = "name age"
fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]
schema = StructType(fields)

# Creacion de esquema y estructura

In [32]:
mEnsayo=sc.parallelize([[1,2,3,4,5],[7,4,1,2,5],[10,8,9,6,5]])

mEnsayo2=sc.parallelize([[(1,2),(1,4),(1,3),(1,4)],[(2,9),(2,6),(2,8),(2,3)],[(3,6),(3,3),(3,4),(3,5)],
                        [(4,2),(4,4),(4,3),(4,4)]])
schemaString = "banda1 banda2 banda3 banda4"
fields1 = [StructField(field_name, ArrayType(IntegerType(),False), True) for field_name in schemaString.split()]
schema = StructType(fields1)
sHive1 = sqlContextHive.createDataFrame(mEnsayo2, schema)
sHive1.registerTempTable("tabla1")

In [33]:
mEnsayo2.collect()

[[(1, 2), (1, 4), (1, 3), (1, 4)],
 [(2, 9), (2, 6), (2, 8), (2, 3)],
 [(3, 6), (3, 3), (3, 4), (3, 5)],
 [(4, 2), (4, 4), (4, 3), (4, 4)]]

In [34]:
sHive1.show()

+------+------+------+------+
|banda1|banda2|banda3|banda4|
+------+------+------+------+
|[1, 2]|[1, 4]|[1, 3]|[1, 4]|
|[2, 9]|[2, 6]|[2, 8]|[2, 3]|
|[3, 6]|[3, 3]|[3, 4]|[3, 5]|
|[4, 2]|[4, 4]|[4, 3]|[4, 4]|
+------+------+------+------+

In [35]:
df2 = sqlContextHive.createDataFrame([(1, 4), (3, 5), (3, 6),(5, 6),(5, 6),
                                     (6, 4), (3, 5),(1, 4), (2, 5),(6, 4), (3, 5),(1, 4), (2, 5)], ["A", "B"])
df2.registerTempTable("df2")
df2.show()

+---+---+
|  A|  B|
+---+---+
|  1|  4|
|  3|  5|
|  3|  6|
|  5|  6|
|  5|  6|
|  6|  4|
|  3|  5|
|  1|  4|
|  2|  5|
|  6|  4|
|  3|  5|
|  1|  4|
|  2|  5|
+---+---+

In [36]:
df2.groupBy("A").count().show()

+---+-----+
|  A|count|
+---+-----+
|  1|    3|
|  2|    2|
|  3|    4|
|  5|    2|
|  6|    2|
+---+-----+

In [37]:
def fun(a):   
    return a*2
def fun1(a):   
    return a[1]*10

In [38]:
def funt(a):
    return

In [39]:
Funcion=UserDefinedFunction(fun, IntegerType())
Funcion2=UserDefinedFunction(fun1, IntegerType())

In [40]:
st1=df2.select("B", Funcion('A'))
st2=df2.withColumn("prueba", Funcion(df2.A))
#st1.show()

In [41]:
st3=sHive1.select("banda2",Funcion2('banda1'))
st4=sHive1.withColumn("resultado",Funcion2(sHive1.banda1))

In [42]:
sHive1.groupBy("banda1").count().show()

+------+-----+
|banda1|count|
+------+-----+
|[2, 9]|    1|
|[1, 2]|    1|
|[3, 6]|    1|
|[4, 2]|    1|
+------+-----+

In [61]:
mEnsayo=sc.parallelize([[1,2,3,4,5],[7,4,1,2,5],[10,8,9,6,5]])
mEnsayo3=sc.parallelize([[(1,2),(1,4),(1,3),(1,4)],[(2,9),(2,6),(2,8),(2,3)],[(3,6),(3,3),(3,4),(3,5)],
                        [(4,2),(4,4),(4,3),(4,4)]])
schemaString = "banda1"
fields1 = [StructField(field_name,IntegerType(), True) for field_name in schemaString.split()]
schema = StructType(fields1)
sHive2 = sqlContextHive.createDataFrame(mEnsayo, schema)
sHive2.registerTempTable("tabla2")

In [62]:
sHive2.show()

+------+
|banda1|
+------+
|     1|
|     7|
|    10|
+------+